.content {
    max-width: 80%;
    max-height: 80%;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    border-radius: 12px;
    border-bottom: solid 1px #fff3;
    border-top: solid 1px #fff1;
    border-left: solid 1px #fff2;
    border-right: solid 1px #fff2;
    box-shadow: 3px 3px 64px #0008;
    
    user-select: none;

    animation: content-appear 1.5s linear 1;

    overflow: auto;
    overflow-x: hidden;
}
@media (min-width: 1000px) {
    .content {
        padding: 2em 6em;
    }
}
.contentContainer {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes content-appear {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
    }
}
