.previewViewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transform-origin: 0 0;
    scale: 0.3;
    background-color: black;

}
.previewViewportConainer {
    width: 30vw;
    min-width: 30vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 6px;
    grid-row: 1 / -1;
}
.editorContainer {
    display: grid;
    grid-template-rows: calc(30vh + 22px) auto;
    grid-template-columns: 100%;
    gap:8px;
    justify-content: space-between;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
}
.editorParams {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-row: 2;
}
.resultJson {
    width: 100% !important;
    height: 100% !important;
    
    grid-column: 2;
    grid-row: 2;
}
.card {
    padding: 8px 8px;
    box-shadow: 3px 3px 64px #0008;
    border-bottom: solid 1px #fff3;
    border-top: solid 1px #fff1;
    border-left: solid 1px #fff2;
    border-right: solid 1px #fff2;
    background-color: #ffffff06;
    border-radius: 8px;
    margin: .5em;
}
.editorControlBox {
    min-width: 100%;
    max-height: calc(30vh + 22px);
    grid-row: 1;
    padding: 2px 2px;
    display: grid;
    grid-template-rows: 0px auto 32px 32px 32px 0px;
    grid-template-columns: 30vw auto 0px;
    gap: 8px;
}
.fullscreenBox {
    width: 24px;
    height: 24px;
    z-index: 1000;
    position: absolute;
    top: 30vh;
    left: 30vw;

    &:checked {
        top: auto;
        width: 32px;
        height: 32px;
        bottom: 8px;
        left:auto;
        right: 8px;
        ~.previewViewport {
            position: absolute;
            right: 0;
            bottom: 0;
            scale: 1;
        }
    }
}
.controlTitle {
    grid-row: 3;
    grid-column: 2;
    min-width: 0;
}
.controlPriority {
    grid-row: 4;
    grid-column: 2;
    min-width: 0;
}
.controlUpload {
    grid-row: 5;
    grid-column: 2;
    padding: 0;
}

@media (min-width: 700px) {
    .editorContainer {
        grid-template-rows: auto;
        grid-template-columns: auto calc(30vw + 22px);
    }
    .editorControlBox {
        display: flex;
        flex-direction: column;
        min-width: 30vw;
        max-height: 100%;
        grid-column: 2;
    }
    .editorParams {
        grid-row: 1;
        grid-column: 1;
    }
    .fullscreenBox {
        left:auto;
        right:22px;
    }
    .previewViewportConainer {
        flex-shrink: 0;
    }
    .resultJson {
        margin: 0.5em 0;
    }
    .controlPriority, .controlUpload, .controlTitle {
        margin-bottom: .5em;
        width: 100%;
        flex-shrink: 0;
    }
}