// FONT
/* latin */
@font-face {
    font-family: 'Chivo Mono';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chivomono/v9/mFThWbgRxKvF_Z5eQMO9qRMrJJrnKNtC3D5IqJfSIJk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.display {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.timer {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    user-select: none;


    font-family: 'Chivo Mono', monospace;

    animation: timer-appear .5s linear 1;
}
.blur {
    backdrop-filter: brightness(0.75) blur(max(3vw,3vh));
    background-color: #ffffff10;
    clip-path: url(#lockup-headline-mask-path);
    position: fixed;
    >span {
        display: block;
        width: 100vw;
        height: 25vw;
        background-image: url("/assets/misc/noise.webp");
        background-size: 512px 512px;
        opacity: 5%;
    }
    >svg {
        position: absolute;
    }
}
@media (min-width: 1000px) {
    .blur {
        background: #ffffff04;
    }
}


@keyframes timer-appear {
    0% {
        opacity: 0;
    }
    100% {
    }
}