.textbox {
    height: 32px;
    border: 0;
    outline: solid transparent 1px;
    border-radius: 6px;
    color: var(--text-primary);
    padding: 0.5em 1.5em;
    font-size: 12px;
    background-color: var(--button-background-primary);

    transition: outline-color 150ms;

    &:disabled {
        color: var(--text-disabled);
        background-color: var(--button-background-disabled);
    }

    &::placeholder {
        color: var(--text-disabled);
    }

    &:focus {
        outline: solid var(--accent-secondary) 1px;
    }

    &:invalid {
        outline: solid var(--bordeaux-accent) 2px;

        &:focus {
            outline: solid var(--bordeaux-accent-secondary) 2px;
        }
    }

    &:read-only {
        outline: 0;
    }
}
